# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Conda
.conda/

# Outputs
results/
figures/

# Data (optional; keep raw data if you want)
# data/raw/

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
